<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/main.css"> 
</head>
<body>
    <header>
        <h1>Documentation</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <% body %>
    </main>
    <footer>
        <p>Made with ❤️ by <a href="https://atre.dev">Atre</a></p>
    </footer>
</body>
</html>
