* {
	box-sizing: border-box;
}
body {
	background-color: #111;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-right: 10px;
}
li {
	transition: all 0.3s ease-in-out;
	padding: 10px;
	border: 1px solid tomato;
	margin: 5px;
	cursor: pointer;
	background-color: black;
	z-index: 100;
}
.box {
	width: 300px;
	height: 300px;
	max-width: 500px;
	background-color: rgba(255, 99, 71, 0.231);
	border: 1px solid tomato;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
